.apartments {
  position: relative;
  &::before {
    @include decorNumberBefore {
      content: "III";
    }
  }
}

.apartments__title {
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  justify-content: center;
  gap: 30px;

  @include mediabigTablet {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 80px;
    .card {
      justify-self: center;
    }
  }
}
