.benefits {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  &::after {
    @include decorNumberAfter {
      content: "II";
    }
  }
}

.benefits__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  @include mediaLaptop {
    flex-wrap: wrap;
  }
}
.benefits__item {
  display: grid;
  gap: 53px;
  text-align: center;
}
.benefits__item-img {
  justify-self: center;
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: $font-secondary;
  font-weight: 300;
}
