.cta {
  padding: 180px 0;
  background-color: #999;
  background-image: url("./../../images/cta/bg.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  @include mediaLaptop {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @include mediabigTablet {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cta__text {
  line-height: 1.5;
  @include mediaLaptop {
    font-size: 14px;
  }

  p + p {
    margin-top: 1em;
  }
}
